#!/usr/bin/make -f

get-orig-source:
	set -ex; \
                PKG=python-xmlrunner; VER=1.0.3; \
                git clone git://github.com/danielfm/unittest-xml-reporting.git $$PKG; \
                DATE=`cd $$PKG && git show --pretty=format:"%cD" HEAD | head -n1`; \
                SUFFIX=`date -d "$$DATE" +%Y%m%d%H%M`; \
                rm -rf $$PKG/.git; \
                tar cfz $${PKG}_$$VER+git$${SUFFIX}.orig.tar.gz $$PKG; \
                rm -rf $$PKG

%:
	dh $@
